In [1]:
import pandas as pd

In [2]:
s = pd.Series([x for x in range(1,11)])

In [3]:
s

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [6]:
# iloc means index_location
s.iloc[0]

1

In [5]:
s.iloc[5]

6

In [7]:
s.iat[8]

9

In [8]:
s.iat[0]

1

In [9]:
s[5:9]

5    6
6    7
7    8
8    9
dtype: int64

In [10]:
s[-4:-1]

6    7
7    8
8    9
dtype: int64

In [11]:
# return value even
s.where(s%2==0)

0     NaN
1     2.0
2     NaN
3     4.0
4     NaN
5     6.0
6     NaN
7     8.0
8     NaN
9    10.0
dtype: float64

In [12]:
# return value odd
s.where(s%2==0, 'Odd Number')

0    Odd Number
1             2
2    Odd Number
3             4
4    Odd Number
5             6
6    Odd Number
7             8
8    Odd Number
9            10
dtype: object

In [13]:
# return every odd no. give squar value
s.where(s%2==0, s**2)

0     1
1     2
2     9
3     4
4    25
5     6
6    49
7     8
8    81
9    10
dtype: int64

In [14]:
s.where(s%2==0, inplace=True)

In [22]:
# drop the null value

s.dropna()

1     2.0
3     4.0
5     6.0
7     8.0
9    10.0
dtype: float64

In [20]:
# fill the null value
s.fillna('Filled value')

0    Filled value
1             2.0
2    Filled value
3             4.0
4    Filled value
5             6.0
6    Filled value
7             8.0
8    Filled value
9            10.0
dtype: object